services:

  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./form:/var/www/html
    depends_on:
      - web
    networks:
      - appnet
  web:
    build: 
      context: .
    container_name: php_form
    volumes:
      - ./form:/var/www/html
    depends_on:
      - db
    networks:
      - appnet
  db:
    image: mysql:8.0  
    container_name: db_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: concessionaria1
    ports:
      - "3307:3306" 
    volumes:
      - db_data:/var/lib/mysql
      - ./form/concessionaria1.sql:/docker-entrypoint-initdb.d/concessionaria1.sql:ro
    networks:
      - appnet

volumes:
  db_data:

networks:
  appnet:


